sentry-enduser/force-app/main/default/flows/Convert_Lead_Automated.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Capture_Error</name>
        <label>Capture Error</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <actionName>Sentry</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>faultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>interviewGUID</name>
            <value>
                <elementReference>$Flow.InterviewGuid</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Sentry</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead</name>
        <label>Convert Lead</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>ConvertLeadsInvocable</actionName>
        <actionType>apex</actionType>
        <faultConnector>
            <targetReference>Capture_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>convertedStatus</name>
            <value>
                <stringValue>Closed - Converted</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityName</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ConvertLeadsInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>get_Uuid</name>
        <label>get Uuid</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>GenerateUuidInvocable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Uuid</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>GenerateUuidInvocable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel
  >Convert Lead Automated {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead Automated</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Set_Uuid</name>
        <label>Set Uuid</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Convert_Lead</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Capture_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ExternalId__c</field>
            <value>
                <stringValue>42</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Uuid</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria
    >true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Rating</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hot</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
